 body {
    background-color: black;
    color: white;
}
.portfolio {
    font-size: 25px;
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 40%;
    gap: 30px;
}

.heading {
    position: absolute;
    top: 10%;
    left: 10%;
    font-weight: bolder;
}
footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(228, 226, 226, 0.885);
    color: black;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
}
footer p {
    padding: 50px;
}
.qr {
    height: 500px;
    width: 400px;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.insta img {
    height: 150px;
    width: 150px;
}
.linkedin img {
    height: 200px;
    width: 200px;
}
.linkedin {
    margin-top: -35px;
}

.photo {
    position: absolute;
    left: 10%;
    top: 25%;
}
.photo img {
    height: 250px;
    width: 250px;
border-radius: 50%;
  
}
@media (max-width: 500px) {
.insta img {
    height: 130px;
    width: 130px;
}
footer {
    width: 100%;
    font-size: 17px;
    height: 30px;
    color: black;
}
footer p {
    padding: 10px;
}

.portfolio {
    position: absolute;
    top: 45%;
    left: 15px;
    font-size: 20px;
    width: 350px;
    height : 300px;
    display: flex;
    flex-direction: column;
}
.linkedin img {
    height: 150px;
    width: 150px;
}
.qr {
    height : 200px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 5px;
    padding: 0;
}
.photo img {
    height: 150px;
    width: 150px;
  border-radius: 50%;
}
.photo {
    position: absolute;
    left: 3%;
    top: 13%;
}
.heading {
    position: absolute;
    top: 3%;
    left: 5%;
    font-weight: bolder;
}

}
